@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TaskModel
@{
}

<header class="mb-3 mt-3"><h1 class="text-center"></h1></header>
<form id="EditTaskForm" asp-action="UpdateTask" method="post">
    @Html.HiddenFor(t=>t.ToDoId)
    <div class="mb-3">
        <label asp-for="Name" class="form-label">New Task Name</label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Priority" class="form-label">New Priority</label>
        <select class="form-select">
            <option selected value="1">One (High)</option>
            <option value="2">Two (Medium)</option>
            <option value="3">Three (Low)</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Deadline">New DeadLine</label>
        <input type="date" class="form-control" asp-for="Deadline"
               value="@DateTime.Today.ToString("yyyy-MM-dd")"
               min="@DateTime.Today.ToString("yyyy-MM-dd")">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>
