@{
    ViewData["Title"] = "AddToDo";
}
@model ToDoModel
<header class="mb-5"><h1 class="text-center">Add To-Do</h1></header>
<form id="AddToDoForm" asp-action="AddToDo" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">To-Do Name</label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Priority" class="form-label">Priority</label>
        <select class="form-select">
            <option selected value="1">One (High)</option>
            <option value="2">Two (Medium)</option>
            <option value="3">Three (Low)</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Deadline">DeadLine</label>
        <input type="date" class="form-control" asp-for="Deadline" name="trip-start"
               value="@DateTime.Today.ToString("yyyy-MM-dd")"
               min="@DateTime.Today.ToString("yyyy-MM-dd")">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
